body {
	background-color: WhiteSmoke !important;
	font-family: 'Bebas Neue', cursive !important;
}

.navbar-brand {
	padding-top: 12px;
}

.card {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.link-card {
	float: right;
}

.card-title {
	text-align:justify;
	float:left;
	padding-top: 3px;
	
}

#titulo {
	font-family: 'Monoton', cursive;
	font-size: 48px
}



#icon {
	align-content: center;
	width: 150px !important;
	height: 150px !important;
	margin-left: 30% !important;
	margin-top: 5% !important;
}

#slider {
	height: 600px;
	overflow: hidden;
}

